body {
  background: linear-gradient(132deg, #34495E, #AEB6BF);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100 {
    background-position: 0% 50%;
  }
}

}

.btn-color {
  color: navy;
}

#container-color {
  background: linear-gradient(132deg, #34495E, #AEB6BF);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100 {
    background-position: 0% 50%;
  }
}

#panel-body-color {
  background: linear-gradient(132deg, #34495E, #AEB6BF);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100 {
    background-position: 0% 50%;
  }
}

}

#btn-shape {
  color: navy;
}

.panel {
  border: none;
}

#btn-shape:hover {
  color: purple;
}

#btn-shape:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}